.brands {
  background: $darkGrey2;
  color: $mediumGrey;

  li {
    &:after {
      content: " / ";
      margin: 0 5px;
    }

    &:last-child {
      &:after {
        content: ""
      }
    }
  }
}