.introduction {
  background: radial-gradient($bgColor1, $bgColor2);
  height: 100%;
  overflow: hidden;
  position: relative;

  &:before {
    background: linear-gradient(to bottom, rgba($bgColor2, 0.0), rgba($bgColor2, 1.0));
    bottom: 0;
    content: '';
    display: block;
    height: 20%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  header {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    hgroup {
      display: inline-block;
      margin: 3em 0;
      vertical-align: middle;
    }

    h1, h2 {
      margin: 0;
    }

    .avatar {
      border-radius: 50%;
      border: 4px solid white;
      display: inline-block;
      margin-right: 24px;
      vertical-align: middle;
      width: 80px;
    }
  }

  .icon-more {
    bottom: 24px;
    display: block;
    font-size: 24px;
    position: absolute;
    text-align: center;
    transition: all 0.5s;
    width: 100%;

    &.hidden {
      transform: translate(0, -20px);
      opacity: 0;
    }
  }
}

@media (max-width: 780px) {
  .introduction {
    header {
      font-size: 80%;
      width: 100%;
      text-align: center;

      hgroup {
        display: block;
      }
    }
  }
}

#stage {
  left: 0;
  position: absolute;
  top: 0;
}
