.projects {
  background: $white;
  color: $black;
  text-align: left;

  > h1 {
    margin: 0 0 1em 0;
  }

  .project {

    & + .project {
      border-top: 1px solid rgba($mediumGrey, 0.3);
      margin-top: 3.5em;
      padding-top: 3.5em;
    }

    h1 {
      margin: -0.25em 0 0.5em 0;
    }

    code {
      font-size: 12px;
    }

    p {
      code {
        background: $lightGrey;
        border-radius: 2px;
        border: 1px solid $mediumGrey;
        color: $bgColor2;
        padding: 0.2em;
      }
    }

    img {
      box-sizing: border-box;
      display: block;
      float: left;
      width: 50%;
    }

    .description {
      box-sizing: border-box;
      float: left;
      padding-left: 2em;
      width: 50%;
    }

    .taglist {
      li {
        background: $black;
        color: $white;
      }
    }
  }
}


@media (max-width: 780px) {
  .projects {
    .project {
      font-size: 80%;
      line-height: 1.6em;

      h1 {
        line-height: 1.25em;
        margin: 0.5em 0;
      }

      img,
      .description {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}
