.projects {
  background: $white;
  color: $black;
  text-align: left;

  > h1 {
    margin: 0 0 1em 0;
  }

  .project {

    & + .project {
      border-top: 1px solid rgba($mediumGrey, 0.3);
      margin-top: 3.5em;
      padding-top: 3.5em;
    }

    h1 {
      margin: -0.25em 0 0.5em 0;
    }

    code {
      font-size: 12px;
    }

    p {
      code {
        background: $lightGrey;
        border-radius: 2px;
        border: 1px solid $mediumGrey;
        color: $bgColor2;
        padding: 0.2em;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .description {
      box-sizing: border-box;
      float: left;
      padding-left: 2em;
      width: 50%;
    }

    .taglist {
      li {
        background: $black;
        color: $white;
      }
    }
  }

  .image-container {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }

  .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    text-align: center;
    overflow: hidden;
    background: $black;
    text-transform: uppercase;
    color: $white;
    border-radius: 35px;
    opacity: 0.9;
    border: 5px solid $white;
    transition: width 0.1s, height 0.1s;

    &:hover {
      width: 70px;
      height: 70px;
    }
  }
}


@media (max-width: 780px) {
  .projects {
    .project {
      font-size: 80%;
      line-height: 1.6em;

      h1 {
        line-height: 1.25em;
        margin: 0.5em 0;
      }

      .image-container,
      .description {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}
