---
layout: static
title: Manuel Rodriguez - Frontend Engineer aus Hamburg
---
<div class="home">
  <section class="introduction">
    <canvas id="stage" width="0" height="0"></canvas>
    <header>
      <img src="/assets/img/avatar.png" alt="avatar" class="avatar" title="Manuel Rodriguez"/>
      <hgroup>
        <h1>Manuel Rodriguez</h1>
        <h2>Frontend Engineer / Freelancer</h2>
      </hgroup>
    </header>
    <section class="more">
      <span class="label">scroll</span>
      <i class="icon-more"></i>
    </section>
  </section>

  <section class="content-container">
    <h1>Moin!</h1>
    <p>Ich bin Manu, 32 Jahre alt und lebe mit meiner wundervollen Familie in Baunatal.</p>
    <p>
      Als passionierter Frontend Engineer plane und entwickele ich Apps für Mobile und Web (gerne auch hybrid) nach
      modernen Methoden. Am liebsten arbeite ich direkt mit UX, Design und Backend zusammen, denn ich glaube
      daran, dass nur bei echter Teamarbeit etwas Großartiges entstehen kann.
    </p>
    <p>
      Den Blick für gute Gestaltung bekam ich durch mein Studium an der Design Factory International,
      welches ich mit Auszeichnung abgeschlossen habe.
    </p>
    <p>Wenn ich mal nicht vor dem Rechner sitze, verbringe ich meine Zeit am liebsten mit <em>zu vielen</em> Hobbys.</p>
    <ul class="taglist cf mt-m mb-l">
      <li>surfen</li>
      <li>angeln</li>
      <li>gaming</li>
      <li>gadgets</li>
      <li>retro konsolen</li>
      <li>generative art</li>
    </ul>

    <section>
      <h2>Skills</h2>
      <p>Mein Code ist stets aufgeräumt, strukturiert und gut lesbar. So wichtig sauberer Code ist, bin ich dennoch
         in der Lage auch einmal schnell einen Prototypen zu bauen, um etwas auszuprobieren.
      </p>

      <ul class="taglist cf mt-m mb-m">
        <li>javascript</li>
        <li>vanillajs</li>
        <li>angularjs</li>
        <li>ionic</li>
        <li>react</li>
        <li>graphql</li>
        <li>apollo</li>
        <li>redux</li>
        <li>vuejs</li>
        <li>vuex</li>
        <li>emberjs</li>
        <li>immutablejs</li>
        <li>nodejs</li>
        <li>es6</li>
        <li>es7</li>
        <li>jasmine</li>
        <li>jest</li>
        <li>enzyme</li>
        <li>karma</li>
        <li>mocha</li>
        <li>cucumber</li>
        <li>CI</li>
        <li>CD</li>
        <li>unit testing</li>
        <li>e2e testing</li>
        <li>tdd</li>
        <li>oop</li>
        <li>jquery</li>
        <li>bootstrap</li>
        <li>bower</li>
        <li>grunt</li>
        <li>gulp</li>
        <li>webpack</li>
        <li>git</li>
        <li>svn</li>
        <li>clean code</li>
        <li>scrum</li>
        <li>kanban</li>
        <li>agiles arbeiten</li>
        <li>rapid prototyping</li>
        <li>pair programming</li>
        <li>html5</li>
        <li>ejs</li>
        <li>handlebars</li>
        <li>svg</li>
        <li>canvas</li>
        <li>css3</li>
        <li>sass</li>
        <li>compass</li>
        <li>stylus</li>
        <li>adaptive / responsive websites</li>
        <li>mobile apps (hybrid / web)</li>
      </ul>
    </section>
  </section>

  <section class="projects content-container">
    <h1>Arbeiten</h1>
    {% include project.html project=site.data.project-otto%}
    {% include project.html project=site.data.project-streetone %}
    {% include project.html project=site.data.project-thequest %}
    {% include project.html project=site.data.project-billigflieger %}
    {% include project.html project=site.data.project-kinder %}
    {% include project.html project=site.data.project-dolomiten %}
    {% include project.html project=site.data.project-lotto24 %}
    {% include project.html project=site.data.project-skoda %}
    {% include project.html project=site.data.project-nutella %}
    {% include project.html project=site.data.project-361grad %}
    {% include project.html project=site.data.project-rockwell %}
    {% include project.html project=site.data.project-xmas %}
  </section>
  <img class="profile-pic" src="assets/img/profilepic.jpg" alt="Profilbild"/>
  {% include history.html %}
</div>
