.about {
  background: #333333;
  max-width: 980px;
  margin: auto;
  padding: 2em;

  .taglist {
    li {
      background: #fcfcfc;
      color: #262121;
      font-family: monospace;
      float: left;
      margin: 0 0.5em 0.5em 0;
      padding: 0.5em;
    }
  }
}
