body {

  background: -webkit-linear-gradient(90deg, #414d0b 10%, #727a17 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #414d0b 10%, #727a17 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #414d0b 10%, #727a17 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #414d0b 10%, #727a17 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #414d0b 10%, #727a17 90%); /* W3C */

  font-family: Abel, sans-serif;
  color: white;
  text-align: center;
}
