body {
  background: $bgColor2;
  color: white;
  font-family: Abel, sans-serif;
  font-size: 100%;
}

h1, h2 {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $link;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
  }
}

.taglist {
  li {
    border: 1px solid $white;
    color: $white;
    font-family: monospace;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0.5em;
  }
}

.button {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid $white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;

  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    background: $white;
    height: 120%;
    left: -15%;
    transform: skewX(15deg);
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
    color: $link;

    &:after {
      left: -15%;
      width: 140%;
    }
  }

}

footer {
  background-color: $darkGrey;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

