.projects {
  background: #fcfcfc;
  color: #262121;
  margin: auto;
  max-width: 980px;
  padding: 2em;
  text-align: left;

  > h1 {
    margin: 0 0 1em 0;
  }

  .project {

    & + .project {
      border-top: 1px solid #eeeeee;
      margin-top: 2em;
      padding-top: 2em;
    }

    h1 {
      margin: -0.25em 0 0.5em 0;
    }

    code {
      font-size: 12px;
    }

    p {
      code {
        background: #eeeeee;
        border-radius: 2px;
        border: 1px solid #dddddd;
        padding: 0.2em;
      }
    }

    img {
      box-sizing: border-box;
      display: block;
      float: left;
      width: 50%;
    }

    .description {
      box-sizing: border-box;
      float: left;
      padding-left: 2em;
      width: 50%;
    }

    .tags {
      li {
        background: #262121;
        color: #fcfcfc;
        margin-top: 0.5em;
        padding: 0.5em;
      }
    }

  }
}


@media (max-width: 780px) {
  .projects {
    .project {
      font-size: 80%;
      line-height: 1.6em;

      h1 {
        margin: 0.5em 0;
      }

      img,
      .description {
        width: 100%;
        padding-left: 0;
      }

      .tags li {
        background: #777777;
      }
    }
  }
}
